{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        {# <section class="avatar"></section>
    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Instrutor</div>
            <div>Guilherme Saraiva</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>29 anos</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>Crossfit</span>
            </div>
        </div>
        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>
    </section> #}

        <table width="100%">
            <thead>
                <tr>
                    <th>Intructor</th>
                    <th>Atendimento</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {%for instructor in instructors%}
                    {%set attendance = instructor.services.split(",")%}
                    <tr>
                        <td>
                            <span style="background-image: url({{instructor.avatar_url}})"></span>
                            {{instructor.name}}
                        </td>
                        <td>
                            <div>
                                {% for a in attendance %}
                                    <span>
                                        {{a}}
                                    </span>
                                {% endfor %}
                            </div>

                        </td>
                        <td>
                            <a href="/instructors/{{instructor.id}}">ver</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>

            </table>
        </div>

    {% endblock content %}